body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1.6rem;
}
ul {
    width: 100%;
    list-style-type: none;
    display: flex;
}
.selectedTag {
    color: red;
}
.tag {
    flex-grow: 1;
    text-align: center;
}
.imageContainer {
    flex-wrap: wrap;
}
.imgItem {
    width: calc(25% - 1rem);
    box-sizing: border-box;
    padding: 1rem 1rem 1rem 0;
}
